<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALL_IN_API_URL</key>
	<string>$(ALL_IN_API_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-Light.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
	</array>
</dict>
</plist>
